# Tratamento Tabela Resultados 06 - 07 - 2024

pip install ydata-profiling matplotlib ipywidgets pandas pyarrow openpyxl

In [2]:
import pandas as pd
import pyarrow
import matplotlib.pyplot as plt

# Importando DADOS

In [33]:
df = pd.read_csv("C:\\Users\\Inteli\\Documents\\GitHub\\2024-2A-T08-EC07-G05\\src\\data\\csv\\RESULTADOS_08_2023_09_2023_full_teste.csv", compression='gzip')

In [34]:
df.head()

,Unnamed: 0,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,0,2023-2316418,012001,1,10,NaN,0,NaN,2023-08-02 12:04:16
1,1,2023-2316418,012002,1,10,NaN,0,NaN,2023-08-02 12:18:14
2,2,2023-2316418,012003,1,10,NaN,0,NaN,2023-08-02 12:18:27
3,3,2023-2316418,012004,1,10,NaN,0,NaN,2023-08-02 12:17:27
4,4,2023-2316418,018001,1,10,NaN,0,NaN,2023-08-02 11:57:29

In [92]:
df.drop(columns = 'Unnamed: 0', inplace=True)

In [95]:
columns = df.columns.tolist()
print("Columns:", columns)

Columns: ['KNR', 'NAME', 'ID', 'STATUS', 'UNIT', 'VALUE_ID', 'VALUE', 'DATA']

## Tirando coluna vazia

In [96]:
df = df.drop_duplicates()

## Removendo nulos

In [97]:
df = df.dropna()

## Convertendo data de object pra datetime

In [98]:
df['DATA'] = pd.to_datetime(df['DATA'], errors='coerce')

## Criando as colunas por status e por id

In [99]:
pivot_df = df.pivot_table(index='KNR', columns=["ID", "STATUS"], aggfunc='size', fill_value=0)

pivot_df.columns = [f'QTD_STATUS_{col[0]}_OK' if col[1]== 10 else f'QTD_STATUS_{col[0]}_NOK' for col in pivot_df.columns]

pivot_df.reset_index(inplace=True)

## Criando coluna de quantidade de operações por KNR, que, no caso, também é a soma dos status de cada resultado

In [100]:
pivot_df["TEMPO_MEDIO"] = df.groupby('KNR').DATA.transform('max') - df.groupby('KNR').DATA.transform('min')

## Transformando tempo em minutos

In [101]:
pivot_df["TEMPO_MEDIO"] = pivot_df["TEMPO_MEDIO"].dt.total_seconds()/60

In [102]:
pivot_df.head(20)

,KNR,QTD_STATUS_1_NOK,QTD_STATUS_1_NOK,QTD_STATUS_2_NOK,QTD_STATUS_2_NOK,QTD_STATUS_718_NOK,QTD_STATUS_718_NOK,TEMPO_MEDIO
0,2023-2316418,2,0,727,0,32,0,NaN
1,2023-2316419,2,0,714,4,33,0,NaN
2,2023-2816173,0,0,0,0,1,0,NaN
3,2023-2826041,0,0,0,0,1,0,NaN
4,2023-2826097,0,0,0,0,1,0,NaN
5,2023-2826121,0,0,0,0,1,4,NaN
6,2023-2826215,0,0,0,0,1,0,NaN
7,2023-2826241,0,0,0,0,1,0,NaN
8,2023-2826305,0,0,0,0,1,1,489.933333
9,2023-2836050,0,0,6,0,33,0,489.933333
10,2023-2836148,0,0,4,0,33,0,489.933333
11,2023-2836159,0,0,0,0,1,0,489.933333
12,2023-2836233,0,0,0,0,1,0,489.933333
13,2023-2836249,0,0,0,0,1,1,489.933333
14,2023-2846087,0,0,0,0,1,2,489.933333
15,2023-2846095,0,0,0,0,1,1,489.933333
16,2023-2846138,0,0,0,0,1,0,489.933333
17,2023-2846142,0,0,0,0,1,1,489.933333
18,2023-2846215,0,0,0,0,1,2,489.933333
19,2023-2846228,0,0,4,0,34,1,489.933333