# Instalando Bibliotecas

In [203]:
!pip3 install pandas pyarrow

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.1)
Requirement already satisfied: pyarrow in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (17.0.0)
Requirement already satisfied: numpy<2,>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: pip3 install --upgrade pip

In [127]:
import pandas as pd
import numpy as np
import requests
import io
import re

# PROCESSAMENTO TABELA FALHAS

In [158]:
df = pd.read_parquet('FALHAS_04_05_06_2024.parquet')

In [159]:
df = pd.DataFrame(df)

In [160]:
df.drop(columns='Unnamed: 0', inplace=True)

In [161]:
df.columns = df.iloc[0]
df.drop(df.index[0], inplace=True)

In [1]:
columns = df.columns.tolist()
print("Columns:", columns)

NameError: name 'df' is not defined

In [163]:
df.drop(columns='MODELO', inplace=True) # dropa pq só tem modelo t-cross

In [164]:
df.drop_duplicates(inplace=True)

In [165]:
df['FALHA'].value_counts()

FALHA
PAINEL LATERAL 05. SUJEIRA NA PINTURA                     13089
Painel lateral 05. Sujeira na pintura                     12046
PAINEL LATERAL 04. CAROÇO / PICO                           6476
Painel lateral 04. Caroço / Pico                           5898
PAINEL LATERAL 01. AMASSADO                                5287
                                                          ...
NÚMERO DO CHASSI NA CARROCERIA DANIFICADO (A) ¨               1
Número do chassi na carroceria Danificado (a) ¨               1
CHIC. PORTA (42/52/64D/64C/0612/0613) DANIFICADO (A) ¨        1
Fechadura da porta dianteira (42/52) Ajuste incorreto         1
PINO TUCKER 130 SOLTO(A) ¨                                    1
Name: count, Length: 4778, dtype: int64

In [166]:
df['FALHA'] = df['FALHA'].str.upper()

In [167]:
df[['PEÇA', 'FALHA_PEÇA']] = df['FALHA'].str.split(' ', expand=True, n=1)

In [168]:
df.head(20)

,KNR,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,DATA,PEÇA,FALHA_PEÇA
1,2023-2056234,2R2R,DHS,HCEQS506,4013334,ZP7,PARALAMA DIANTEIRO 01. AMASSADO,20/5/2024 21:31:52,PARALAMA,DIANTEIRO 01. AMASSADO
2,2023-2056234,2R2R,DHS,HCEQS506,4013334,ZP7,PORTA TRASEIRA 04. CAROÇO / PICO,20/5/2024 21:30:23,PORTA,TRASEIRA 04. CAROÇO / PICO
3,2023-2056234,2R2R,DHS,PCEQS620,2058570,ZP6,MÓDULO DO ACC (13) PEÇA INCORRETA ¨,20/5/2024 20:04:56,MÓDULO,DO ACC (13) PEÇA INCORRETA ¨
4,2023-2056234,2R2R,DHS,PCEQS999,2087715,ESPC,TAMPA TRASEIRA 05. SUJEIRA NA PINTURA,11/4/2024 12:15:40,TAMPA,TRASEIRA 05. SUJEIRA NA PINTURA
5,2023-3896001,0Q0Q,,HCEQS203,2043971,ZP5A,TAMPA DIANTEIRA 05. SUJEIRA NA PINTURA,5/6/2024 17:38:52,TAMPA,DIANTEIRA 05. SUJEIRA NA PINTURA
6,2023-3896001,0Q0Q,,HCEQS203,2043971,ZP5A,TAMPA TRASEIRA 05. SUJEIRA NA PINTURA,5/6/2024 17:39:18,TAMPA,TRASEIRA 05. SUJEIRA NA PINTURA
7,2023-4896002,0Q0Q,,PCEQS314,2061350,ZP5A,TETO 05. SUJEIRA NA PINTURA,28/5/2024 12:25:49,TETO,05. SUJEIRA NA PINTURA
8,2024-0576008,6UA1,CWL,PCEQS622,4004807,ZP8R,FAROL (09) PEÇA NOK,9/4/2024 17:51:52,FAROL,(09) PEÇA NOK
9,2024-0576008,6UA1,CWL,PCEQS622,4004807,ZP8R,FAROL (09) PEÇA NOK,9/4/2024 17:51:52,FAROL,(09) PEÇA NOK
10,2024-0576017,K2K2,CWL,PCEQS999,2087715,ESPC,TAMPA TRASEIRA 05. SUJEIRA NA PINTURA,11/4/2024 11:58:13,TAMPA,TRASEIRA 05. SUJEIRA NA PINTURA
11,2024-0576017,K2K2,CWL,PCEQS999,2087715,ESPC,TAMPA TRASEIRA 05. SUJEIRA NA PINTURA,11/4/2024 11:58:13,TAMPA,TRASEIRA 05. SUJEIRA NA PINTURA
12,2024-0576018,2R2R,DHS,STOL,FHQWRAP,ZP6,TESTE ELETRÔNICO (IBN_3) NOK,12/4/2024 17:38:05,TESTE,ELETRÔNICO (IBN_3) NOK
13,2024-0576018,2R2R,DHS,STOL,FHQWRAP,ZP6,TESTE ELETRÔNICO (IBN_3) NOK,12/4/2024 17:38:05,TESTE,ELETRÔNICO (IBN_3) NOK
14,2024-1316075,K2K2,CWL,HCEQS504,2051427,ZP7,CONSOLE CENTRAL AJUSTE INCORRETO,4/4/2024 06:56:31,CONSOLE,CENTRAL AJUSTE INCORRETO
15,2024-1316075,K2K2,CWL,HCEQS504,2051427,ZP7,CONSOLE CENTRAL AJUSTE INCORRETO,4/4/2024 06:56:31,CONSOLE,CENTRAL AJUSTE INCORRETO
16,2024-1316075,K2K2,CWL,HCEQS506,4004717,ZP7,APLIQUE DA TAMPA TRASEIRA (GRIP MOLDING) DANIF...,4/4/2024 06:39:45,APLIQUE,DA TAMPA TRASEIRA (GRIP MOLDING) DANIFICADO (A) ¨
17,2024-1316075,K2K2,CWL,HCEQS506,4004717,ZP7,PAINEL LATERAL 05. SUJEIRA NA PINTURA,4/4/2024 06:42:16,PAINEL,LATERAL 05. SUJEIRA NA PINTURA
18,2024-1316075,K2K2,CWL,HCEQS506,4004717,ZP7,PAINEL LATERAL CONTAMINADO,4/4/2024 06:29:51,PAINEL,LATERAL CONTAMINADO
19,2024-1316075,K2K2,CWL,HCEQS506,4004717,ZP7,PARALAMA DIANTEIRO 02. ONDULAÇÃO,4/4/2024 06:37:58,PARALAMA,DIANTEIRO 02. ONDULAÇÃO
20,2024-1316075,K2K2,CWL,HCEQS506,4004717,ZP7,PARALAMA DIANTEIRO PREP. PINTURA NOK,4/4/2024 06:25:44,PARALAMA,DIANTEIRO PREP. PINTURA NOK

In [169]:
df['HALLE'] = df['HALLE'].str.split(' ').str[0]

In [170]:
count_starts_with_2024 = df['KNR'].str.startswith('2024').sum()

print("Número de KNRs de 2024:", count_starts_with_2024)

Número de KNRs de 2024: 327318

In [171]:
count_starts_with_2023 = df['KNR'].str.startswith('2023').sum()

print("Número de KNRs de 2023:", count_starts_with_2023)

Número de KNRs de 2023: 7

In [172]:
df.head()

,KNR,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,DATA,PEÇA,FALHA_PEÇA
1,2023-2056234,2R2R,DHS,HCEQS506,4013334,ZP7,PARALAMA DIANTEIRO 01. AMASSADO,20/5/2024 21:31:52,PARALAMA,DIANTEIRO 01. AMASSADO
2,2023-2056234,2R2R,DHS,HCEQS506,4013334,ZP7,PORTA TRASEIRA 04. CAROÇO / PICO,20/5/2024 21:30:23,PORTA,TRASEIRA 04. CAROÇO / PICO
3,2023-2056234,2R2R,DHS,PCEQS620,2058570,ZP6,MÓDULO DO ACC (13) PEÇA INCORRETA ¨,20/5/2024 20:04:56,MÓDULO,DO ACC (13) PEÇA INCORRETA ¨
4,2023-2056234,2R2R,DHS,PCEQS999,2087715,ESPC,TAMPA TRASEIRA 05. SUJEIRA NA PINTURA,11/4/2024 12:15:40,TAMPA,TRASEIRA 05. SUJEIRA NA PINTURA
5,2023-3896001,0Q0Q,,HCEQS203,2043971,ZP5A,TAMPA DIANTEIRA 05. SUJEIRA NA PINTURA,5/6/2024 17:38:52,TAMPA,DIANTEIRA 05. SUJEIRA NA PINTURA

In [173]:
# Create a pivot table to count occurrences of HALLE for each KNR
pivot_df = df.pivot_table(index='KNR', columns='HALLE', aggfunc='size', fill_value=0)

# Rename the columns to include the prefix 'TOTAL_FALHAS_'
pivot_df.columns = [f'QTD_FALHAS_{col}' if col.strip() else 'QTD_FALHAS_SEM_HALLE' for col in pivot_df.columns]

# Reset index to make KNR a column if needed
pivot_df.reset_index(inplace=True)

In [174]:
pivot_df.head()

,KNR,QTD_FALHAS_SEM_HALLE,QTD_FALHAS_AGUA,QTD_FALHAS_BUY,QTD_FALHAS_CAB,QTD_FALHAS_DKA,QTD_FALHAS_ESPC,QTD_FALHAS_PROC,QTD_FALHAS_PVC,QTD_FALHAS_ROD,QTD_FALHAS_RUID,QTD_FALHAS_ZP5,QTD_FALHAS_ZP5A,QTD_FALHAS_ZP6,QTD_FALHAS_ZP61,QTD_FALHAS_ZP62,QTD_FALHAS_ZP7,QTD_FALHAS_ZP8,QTD_FALHAS_ZP8R
0,2023-2056234,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,2,0,0
1,2023-3896001,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0
2,2023-4896002,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
3,2024-0576008,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
4,2024-0576017,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0

In [175]:
total_zp7 = (df['HALLE'] == 'ZP7').sum()

print(f"Total de ocorrências de ZP7 no df antigo: {total_zp7}")

Total de ocorrências de ZP7 no df antigo: 166601

In [176]:
total_zp7_pivot = (pivot_df['QTD_FALHAS_ZP7']).sum()

print(f"Total de ocorrências de ZP7 no df pivot: {total_zp7_pivot}") # dá certinho

Total de ocorrências de ZP7 no df pivot: 166601

In [177]:
pivot_df.to_parquet('falha_processadas.parquet', index=False)

In [178]:
# Corrected aggregation of MOTOR and COR columns from df_falhas
motor_cor_df = df.groupby('KNR')[['MOTOR', 'COR']].first().reset_index()

# # Merge the aggregated data with pivot_df
pivot_df = pd.merge(pivot_df, motor_cor_df, on='KNR', how='left')

# # Get list of all columns, then rearrange them
# cols = pivot_df.columns.tolist()

# # Move 'MOTOR' and 'COR' right after 'KNR', and 'QTD_SEM_HALLE' at the end
# new_order = ['KNR', 'MOTOR', 'COR'] + \
#             [col for col in cols if col not in ('KNR', 'MOTOR', 'COR', 'QTD_FALHAS_SEM_HALLE')] + \
#             ['QTD_FALHAS_SEM_HALLE']  # Append QTD_SEM_HALLE at the end

# pivot_df = pivot_df[new_order]

In [179]:
motor_cor_df

0               KNR MOTOR   COR
0      2023-2056234   DHS  2R2R
1      2023-3896001        0Q0Q
2      2023-4896002        0Q0Q
3      2024-0576008   CWL  6UA1
4      2024-0576017   CWL  K2K2
...             ...   ...   ...
23967  2024-2976006   CWL  0Q0Q
23968  2024-2976010   DHS  0Q0Q
23969  2024-2976011   DHS  0Q0Q
23970  2024-2976012   DHS  0QA1
23971  2024-2976013   DHS  0Q0Q

[23972 rows x 3 columns]

In [180]:
pivot_df

,KNR,QTD_FALHAS_SEM_HALLE,QTD_FALHAS_AGUA,QTD_FALHAS_BUY,QTD_FALHAS_CAB,QTD_FALHAS_DKA,QTD_FALHAS_ESPC,QTD_FALHAS_PROC,QTD_FALHAS_PVC,QTD_FALHAS_ROD,...,QTD_FALHAS_ZP5,QTD_FALHAS_ZP5A,QTD_FALHAS_ZP6,QTD_FALHAS_ZP61,QTD_FALHAS_ZP62,QTD_FALHAS_ZP7,QTD_FALHAS_ZP8,QTD_FALHAS_ZP8R,MOTOR,COR
0,2023-2056234,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,2,0,0,DHS,2R2R
1,2023-3896001,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,,0Q0Q
2,2023-4896002,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,,0Q0Q
3,2024-0576008,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,CWL,6UA1
4,2024-0576017,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,CWL,K2K2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23967,2024-2976006,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,CWL,0Q0Q
23968,2024-2976010,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,DHS,0Q0Q
23969,2024-2976011,1,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,DHS,0Q0Q
23970,2024-2976012,0,0,0,0,0,0,0,0,0,...,3,1,0,0,0,0,0,0,DHS,0QA1
23971,2024-2976013,1,0,0,0,0,0,0,0,0,...,2,1,0,0,0,0,0,0,DHS,0Q0Q

In [181]:
pivot_df['MOTOR'] = pivot_df['MOTOR'].replace(r'^\s*$', np.nan, regex=True)

In [182]:
pivot_df

,KNR,QTD_FALHAS_SEM_HALLE,QTD_FALHAS_AGUA,QTD_FALHAS_BUY,QTD_FALHAS_CAB,QTD_FALHAS_DKA,QTD_FALHAS_ESPC,QTD_FALHAS_PROC,QTD_FALHAS_PVC,QTD_FALHAS_ROD,...,QTD_FALHAS_ZP5,QTD_FALHAS_ZP5A,QTD_FALHAS_ZP6,QTD_FALHAS_ZP61,QTD_FALHAS_ZP62,QTD_FALHAS_ZP7,QTD_FALHAS_ZP8,QTD_FALHAS_ZP8R,MOTOR,COR
0,2023-2056234,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,2,0,0,DHS,2R2R
1,2023-3896001,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,NaN,0Q0Q
2,2023-4896002,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,NaN,0Q0Q
3,2024-0576008,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,CWL,6UA1
4,2024-0576017,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,CWL,K2K2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23967,2024-2976006,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,CWL,0Q0Q
23968,2024-2976010,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,DHS,0Q0Q
23969,2024-2976011,1,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,DHS,0Q0Q
23970,2024-2976012,0,0,0,0,0,0,0,0,0,...,3,1,0,0,0,0,0,0,DHS,0QA1
23971,2024-2976013,1,0,0,0,0,0,0,0,0,...,2,1,0,0,0,0,0,0,DHS,0Q0Q

In [183]:
# Get a list of all columns in the DataFrame
cols = pivot_df.columns.tolist()

# Define the new column order
# Make sure to only include 'QTD_FALHAS_SEM_HALLE' once, at the end
new_order = ['KNR', 'MOTOR', 'COR'] + \
            [col for col in cols if col not in ('KNR', 'MOTOR', 'COR', 'QTD_FALHAS_SEM_HALLE')] + \
            ['QTD_FALHAS_SEM_HALLE']  # Ensure this is the correct column name and it's appended once

# Apply the new order to the DataFrame
pivot_df = pivot_df[new_order]

In [206]:
pivot_df['TEM_FALHA_ROD'] = np.where(pivot_df['QTD_FALHAS_ROD'] > 0, 1, 0) # criando a coluna ALVO

/var/folders/tk/cffj7y_s7fx5cs8bnqgnpvn80000gn/T/ipykernel_89236/2963227566.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pivot_df['TEM_FALHA_ROD'] = np.where(pivot_df['QTD_FALHAS_ROD'] > 0, 1, 0) # criando a coluna ALVO

In [207]:
pivot_df

,KNR,MOTOR,COR,QTD_FALHAS_AGUA,QTD_FALHAS_BUY,QTD_FALHAS_CAB,QTD_FALHAS_DKA,QTD_FALHAS_ESPC,QTD_FALHAS_PROC,QTD_FALHAS_PVC,...,QTD_FALHAS_ZP5,QTD_FALHAS_ZP5A,QTD_FALHAS_ZP6,QTD_FALHAS_ZP61,QTD_FALHAS_ZP62,QTD_FALHAS_ZP7,QTD_FALHAS_ZP8,QTD_FALHAS_ZP8R,QTD_FALHAS_SEM_HALLE,TEM_FALHA_ROD
0,2023-2056234,DHS,2R2R,0,0,0,0,1,0,0,...,0,0,1,0,0,2,0,0,0,0
1,2023-3896001,NaN,0Q0Q,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0
2,2023-4896002,NaN,0Q0Q,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,2024-0576008,CWL,6UA1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
4,2024-0576017,CWL,K2K2,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23967,2024-2976006,CWL,0Q0Q,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
23968,2024-2976010,DHS,0Q0Q,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
23969,2024-2976011,DHS,0Q0Q,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,1,0
23970,2024-2976012,DHS,0QA1,0,0,0,0,0,0,0,...,3,1,0,0,0,0,0,0,0,0
23971,2024-2976013,DHS,0Q0Q,0,0,0,0,0,0,0,...,2,1,0,0,0,0,0,0,1,0

# PROCESSAMENTO TABELA RESULTADOS

In [208]:
df_resultados = pd.read_parquet('RESULTADOS_04_06_2024_TRATADO.parquet')

In [209]:
df_resultados = pd.DataFrame(df_resultados)

In [210]:
df_resultados.head()

,KNR,QTD_STATUS_1_OK,QTD_STATUS_1_NOK,QTD_STATUS_2_OK,QTD_STATUS_2_NOK,QTD_STATUS_718_OK,QTD_STATUS_718_NOK,TEMPO_MEDIO
0,2023-2056234,5,0,766,4,71,0,NaN
1,2024-0576004,0,0,0,0,4,0,NaN
2,2024-0576005,0,0,0,0,5,0,NaN
3,2024-0576006,0,0,0,0,4,0,NaN
4,2024-0576008,0,0,6,0,32,0,NaN

# MERGE RESULTADOS X FALHAS

In [211]:
df_contra_tudo_e_contra_todos_fdp = pd.merge(pivot_df, df_resultados, on='KNR', how='inner')

In [212]:
df_contra_tudo_e_contra_todos_fdp.shape

(23547, 29)

In [213]:
df_contra_tudo_e_contra_todos_fdp

,KNR,MOTOR,COR,QTD_FALHAS_AGUA,QTD_FALHAS_BUY,QTD_FALHAS_CAB,QTD_FALHAS_DKA,QTD_FALHAS_ESPC,QTD_FALHAS_PROC,QTD_FALHAS_PVC,...,QTD_FALHAS_ZP8R,QTD_FALHAS_SEM_HALLE,TEM_FALHA_ROD,QTD_STATUS_1_OK,QTD_STATUS_1_NOK,QTD_STATUS_2_OK,QTD_STATUS_2_NOK,QTD_STATUS_718_OK,QTD_STATUS_718_NOK,TEMPO_MEDIO
0,2023-2056234,DHS,2R2R,0,0,0,0,1,0,0,...,0,0,0,5,0,766,4,71,0,NaN
1,2024-0576008,CWL,6UA1,0,0,0,0,0,0,0,...,2,0,0,0,0,6,0,32,0,NaN
2,2024-0576017,CWL,K2K2,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,5,2,6553.933333
3,2024-0576018,DHS,2R2R,0,0,0,0,0,0,0,...,0,0,0,0,0,4,0,32,0,6553.933333
4,2024-1316075,CWL,K2K2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,6553.933333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,2024-2976006,CWL,0Q0Q,0,0,0,0,0,0,0,...,0,0,0,0,0,72,0,0,0,154.183333
23543,2024-2976010,DHS,0Q0Q,0,0,0,0,0,0,0,...,0,1,0,0,0,72,0,0,0,NaN
23544,2024-2976011,DHS,0Q0Q,0,0,0,0,0,0,0,...,0,1,0,0,0,74,0,0,0,154.183333
23545,2024-2976012,DHS,0QA1,0,0,0,0,0,0,0,...,0,0,0,0,0,82,0,0,0,154.183333
23546,2024-2976013,DHS,0Q0Q,0,0,0,0,0,0,0,...,0,1,0,0,0,72,0,0,0,154.183333

In [214]:
df_contra_tudo_e_contra_todos_fdp['TEM_FALHA_ROD'].value_counts()

TEM_FALHA_ROD
0    21665
1     1882
Name: count, dtype: int64